/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


body {
    background: rgb(47, 2, 40);
    margin: 0;
}

nav img {
    display: inline-block;
    height: 48px;
    padding: 10px;
}

nav span i {
    float: right;
    font-size: 36px;
    padding: 16px;
    color: white;
}

nav.works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    margin: 200px auto 400px;
}

nav.works div {
    display: block;
    height: auto;
    background-color: rgb(170, 79, 79);
    padding: 40px;
}

nav.works div:nth-of-type(1) {
    background: rgb(121, 61, 121);
}
nav.works div:nth-of-type(2) {
    background: rgb(38, 70, 126);
}
nav.works div:nth-of-type(3) {
    background: rgb(75, 150, 127);
}

nav.works div h1 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: calc(22px + 2vw);
    color: white;
    margin: 0 auto;
}

nav.works div p {
    display: block;
    font-family: 'Crimson Text', serif;
    font-size: calc(16px + .4vw);
    color: white;
    margin: 0 auto;
}

header {
    margin: 200px auto 300px;
}

header h1 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: calc(22px + 2vw);
    color: white;
    text-align: center;
    margin: 0 auto;
}

header h2 {
    display: block;
    font-family: 'Crimson Text', serif;
    font-size: calc(16px + 1vw);
    line-height: calc(16px + 1vw);
    color: white;
    text-align: center;
}


body {
    font-family: arial, sans-serif;
  }
  

  article {
      background-color: rgb(121, 61, 121);
      max-width: 1600px;
      margin: 0 auto -400px;
      padding: 40px;
      position: relative;
      z-index: 2000;
  }

  article:nth-of-type(2) {
      margin: 200px auto -100px;
      background: rgb(204, 104, 58);
  }

  article h1 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: calc(22px + 2vw);
    color: white;
    margin: 0;
}

article p {
    display: block;
    font-family: 'Crimson Text', serif;
    font-size: calc(18px + .5vw);
    color: white;
}

div.skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1600px;
    margin: 80px auto;
}

div.skills h1 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: calc(16px + 2vw);
    color: white;
    margin: 0;
    text-align: center;
}

div.skills div#html {
    display: block;
    background: rgb(121, 61, 121);
    height: 800px;
    transition: .8s;
}
div.skills div#css {
    display: block;
    background: rgb(38, 70, 126);
    height: 600px;
    transition: .8s;
}
div.skills div#js {
    display: block;
    background: rgb(75, 150, 127);
    height: 400px;
    transition: .8s;
}
div.skills div#jquery {
    display: block;
    background: rgb(170, 79, 79);
    height: 500px;
    transition: .8s;
}
div.skills div#php {
    display: block;
    background: rgb(204, 104, 58);
    height: 400px;
    transition: .8s;
}  
div.skills div#bstrap {
    display: block;
    background: rgb(113, 160, 53);
    height: 400px;
    transition: .8s;
} 

  
section {
    background: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c2d910abcc9bb04fcb180f6a45e407&auto=format&fit=crop&w=1391&q=80");
    filter: grayscale(100%);
    max-width: 1600px;
    padding: 40px;
    margin: -700px auto 0;
    background-size: cover;
    background-attachment: fixed;
}

section:nth-of-type(2) {
    margin-top: -1300px;
}

section h1 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: calc(48px + 4vw);
    color: white;
    text-align: center;
    margin: 0;
}

section p {
    display: block;
    font-family: 'Crimson Text', serif;
    font-size: calc(24px + 2vw);
    color: white;
    text-align: center;
}

div.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: 100px auto 0;
}

div.project:first-of-type {
    margin-top: 600px;
}

div.project div:last-of-type {
    padding: 40px;
    background-color: rgb(121, 61, 121);
}

div.project:nth-of-type(2) div:last-of-type {
    background-color: rgb(38, 70, 126);
}

div.project:nth-of-type(3) div:last-of-type {
    background-color: rgb(75, 150, 127);
}

div.project:nth-of-type(4) div:last-of-type {
    background-color: rgb(170, 79, 79);
}


div.project div:last-of-type h1 {
       display: block;
    font-family: 'Poppins', sans-serif;
    font-size: calc(22px + 2vw);
    color: white;
    margin: 0;
}

div.project div:last-of-type p {
    display: block;
    font-family: 'Crimson Text', serif;
    font-size: calc(18px + .5vw);
    color: white;
}

div.project div:last-of-type a {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: calc(18px + .5vw);
    color: white;
    padding: 20px;
    border: 2px solid white;
    text-decoration: none;
    margin-top: 40px;
}

#firstproj {
    background: url("https://images.unsplash.com/photo-1510074468346-504b4d8a8630?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=865018c07edf47ffb4d7d25d57335802&auto=format&fit=crop&w=643&q=80");
    background-size: cover;
}
