@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom Styles */

/* Body styles */
body {
    background-color: rgb(255, 38, 0);
}

/* Top Navigation styles and logo styles. Top banner set to z-index of 1000 and position of sticky at top of page. */
div.top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Div with padding of 20px and dark grey background. */
div.logo {
    padding: 20px;
    background: rgb(7, 7, 7);
}

/* Image displayed as block with transition of .1 seconds. Height of 60px. */
div.logo img {
    display: block;
    transition: .1s;
    height: 60px;
}

/* Font styles for div.logo h1. */
div.logo h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    transition: .2s;
}

/* Header styles */

/* Header set to orange background with height of 600px. Display as grid with 3 rows. Transition of 1s. */
header {
    background: rgb(255, 38, 0);
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Header h1 font, width and margins styles. Center aligned. */
header h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(32px + 3vw);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Header horizontal rule width, margin and color styles. */
header hr {
    width: 40%;
    margin: 10px auto;
    color: white;
    display: block;
    border: white 2px solid;
}

/* Header h4 font, width and margins styles. Center aligned. */
header h4 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: calc(22px + 1vw);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Navigation styles */
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: rgb(20, 20, 20);
}

/* Hidden mobile navigation. */
nav span#menu {
    display: none;
}

nav div.mobilenav a {
    display: none;
}

/* Navigation link font and padding styles. Center aligned. Transition for hover. */
nav a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: calc(16px + .4vw);
    padding: 20px;
    text-align: center;
    transition: .1s;
}

/* Nav hover styles. */
nav a:hover {
    background: rgb(255, 38, 0);
}

/* Sets position above in order to account for sticky nav links. */
div.linkjquerytrick {
    position: relative;
    top: -160px;
    float: left;
    height: 0;
}

/* Main styles. */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Main h1 font styles. Padding set. */
main h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(22px + 1vw);
    padding-bottom: 40px;
}

/* Main p font and line spacing styles. */
main p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: calc(16px + .6vw);
    line-height: calc(22px + 1vw);
}

/* Main div padding. */
main div {
    padding: 4vw 2vw;
}

/* First div with photo of Micah. */
main div:nth-of-type(1) {
    background: url("micah.jpg");
    background-size: cover;
    background-position: center center;
}

/* Second div with dark grey background. */
main div:nth-of-type(2) {
    background: rgb(20, 20, 20);
}

/* Section styles. */

/* Section height and display styles. Padding and background color applied. */
section {
    background: rgb(211, 211, 211);
    height: auto;
    display: block;
    padding: 6vw 0;
}

/* Section h1 font styles, width and margin set. */
section h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(20, 20, 20);
    font-size: calc(26px + 2.6vw);
    line-height: calc(30px + 3vw);
    width: 80%;
    margin: 0 auto 40px;
}

/* Section p font styles. */
section p {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(22px + 1vw);
}

/* Section h1 span color and font weight. */
section h1 span {
    color: rgb(255, 38, 0);
    font-weight: bold;
}

/* Section hr margin, width, display, and border. */
section hr {
    margin: 20px 0 0;
    width: 40%;
    display: block;
    border: rgb(255, 38, 0) 4px solid;
}

/* Skill styles. */

/* ID of spanskills color and border. */
#spanskills {
    color: white;
    border-bottom: rgb(255, 38, 0) 8px solid;
}

/* Div for skills bars. Centered, width of 80%, two rows. Grid gap of 4vw on left and right. */
div.skillrow {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 4vw;
}

/* Skill bar background. */
div.bar {
    height: 40px;
    width: 100%;
    background: rgb(44, 44, 44);
    box-shadow: 0 0 6px black;
    margin-bottom: 20px;
}

/* Skill bars with display of block, height of 40px, width set to % of skill level. Background set to orange. */
#barhtml {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

#barcss {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

#barjs {
    display: block;
    height: 40px;
    width: 30%;
    background: rgb(255, 38, 0);
}

#barjquery {
    display: block;
    height: 40px;
    width: 40%;
    background: rgb(255, 38, 0);
}

#barbootstrap {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

#barphp {
    display: block;
    height: 40px;
    width: 20%;
    background: rgb(255, 38, 0);
}

#barps {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

#barai {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

#barind {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

#barppro {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

#barae {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

/* Section background set, fixed background set to size of cover. */
section:nth-of-type(2),
section:nth-of-type(4) {
    background: url("skills.jpg");
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-size: cover;
}

/* Aside styles. */

/* Aside background and padding set. */
aside {
    background: rgb(34, 34, 34);
    padding: 2vw;
}

/* Aside with class of main set to padding of 0. */
aside.main {
    padding: 0;
}

/* Aside with class of main h1 background set. Fixed background set to size cover. Padding, font size and line height. */
aside.main h1 {
    background: url("micahskills.jpg");
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-size: cover;
    padding: 4vw 2vw 2vw;
    font-size: calc(26px + 2.6vw);
    line-height: calc(30px + 3vw);
}

/* Aside h1 font styles. */
aside h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    font-size: calc(26px + 1.6vw);
    line-height: calc(30px + 2vw);
}

/* Aside links font and display styles. Margin and padding set. Width set, background set to orange. */
aside a {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: calc(16px + 1.6vw);
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background: rgb(255, 38, 0);
    padding: 10px;
    width: 30%;
}

/* Aside link hover background set to dark grey. */
aside a:hover {
    background: rgb(7, 7, 7);
}

/* Education styles. */
/* Div.education grid of 2 columns.*/
div.education {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ID of activities set to grid of 3 columns */
#activities {
    grid-template-columns: 1fr 1fr 1fr;
}

/* ID of contact set to grid of 3 columns */
#contact {
    grid-template-columns: 1fr 1fr 1fr;
}

/* Education school styles. */

/* Sets div.education and section.school to padding of 2vw. */
div.education section.school {
    padding: 2vw;
}

/* Alternating background colors for sections. */
div.education section.school:nth-of-type(1) {
    background: rgb(255, 38, 0);
}

div.education section.school:nth-of-type(2) {
    background: rgb(20, 20, 20);
}

/* Education activity styles. */

/* Alternating background colors for activities. */
div.education#activities section.school:nth-of-type(even) {
    background: rgb(44, 44, 44);
}

div.education#activities section.school:nth-of-type(odd) {
    background: rgb(34, 34, 34);
}

/* Education school styles. */

/* Alternating background colors for contact info. */
div.education#contact section.school:nth-of-type(even) {
    background: rgb(44, 44, 44);
}

div.education#contact section.school:nth-of-type(odd) {
    background: rgb(34, 34, 34);
}

/* Icon images above descriptions, with bottom margin of 20px. */
div.education#activities section.school img {
    width: calc(32px + 2vw);
    margin-bottom: 20px;
}

div.education#contact section.school img {
    width: calc(32px + 2vw);
    margin-bottom: 20px;
}

/* Education school text styles. */

/* Width, font and color styles applied to h1 in div.education. */
div.education section.school h1 {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(22px + 1vw);
    line-height: calc(22px + 1vw);
    margin-bottom: 12px;
}

/* Width, font and color styles applied to h4 in div.education. */
div.education section.school h4 {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: calc(18px + .8vw);
}

/* Width, font and color styles applied to p in div.education. */
div.education section.school p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: calc(16px + .6vw);
    line-height: calc(22px + 1vw);
    margin-top: 20px;
}

/* Education school span styles for GPA in alternate colors. */
div.education section.school:nth-of-type(2) span {
    color: rgb(255, 38, 0);
}

div.education section.school:nth-of-type(1) span {
    color: rgb(20, 20, 20);
}

/* Remove underline from links in education section.*/
div.education section a {
    text-decoration: none;
}

/* Icon credit div styles. */

/* Div credit background and padding set. Font styles applied. */
div.credits {
    background: rgb(20, 20, 20);
    padding: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(90, 90, 90);
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}

/* Div credit link styles. */
div.credits a {
    background: rgb(34, 34, 34);
    padding: 2px 12px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);
    transition: .1s;
}

/* Div credit link hover styles. */
div.credits a:hover {
    background: rgb(44, 44, 44);
    text-decoration: none;
}

/* Form styles. */

/* Form styles, width set to 80%, display as block, centered in margins. */
form {
    margin: 0 auto;
    width: 80%;
    display: block;
}

/* Section form h1 styles. */
section form h1 {
    color: white;
}

/* Form input font, border, padding and width styles. Transition for hover. Box sizing set to border box. */
form input {
    border-radius: 0;
    width: 100%;
    background: rgb(20, 20, 20);
    border: none;
    font-size: calc(16px + .6vw);
    padding: 6px;
    border-bottom: 6px rgb(44, 44, 44) solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    transition: .3s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Form input with class of buttons set to 50% width. Appearance set to none in order to overwrite iOS default button styles. */
form input.button {
    width: 50%;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Form input hover changes border color. */
form input:hover {
    border-bottom: 6px rgb(255, 38, 0) solid;
}

/* Form text area with styles matching input. */
form textarea {
    resize: none;
    width: 100%;
    background: rgb(20, 20, 20);
    border: none;
    font-size: calc(16px + .6vw);
    padding: 6px;
    border-bottom: 6px rgb(44, 44, 44) solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    transition: .3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Text area hover changes border color. */
form textarea:hover {
    border-bottom: 6px rgb(255, 38, 0) solid;
}


#topBtn {
    transition: .2s;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 0;
    /* Place the button at the bottom of the page */
    right: 0;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(20, 20, 20);
    /* Set a background color */
    color: white;
    /* Text color */
    padding: 15px;
    /* Some padding */
    font-size: 18px;
    /* Increase font size */
}

#topBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

/* Grand Canyon client styles. */

/* Client section background and padding set. Fixed, centered background set. */
#clientcanyon {
    padding: 6vw 0;
    background: url("Angle 1.png");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-position: center center;
}

/* Centered paragraphs. */
#clientcanyon p {
    text-align: center;
}

/* Image display styles set. */
#clientcanyon img {
    display: block;
    margin: 0 auto;
    width: 20%;
    padding: 20px
}

/* Client link with matching styles. */
#clientcanyon a {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: calc(16px + 1.6vw);
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background: rgb(255, 38, 0);
    padding: 10px;
    width: 30%;
}

/* Client link hover changes background color. */
#clientcanyon a:hover {
    background: rgb(7, 7, 7);
}

/* Tablet styles. */
@media only screen and (max-width: 768px) {

    /* 1 column main for tablets. */
    main {
        grid-template-columns: 1fr;
    }

    /* Set first div height to 400px. */
    main div:first-of-type {
        height: 400px;
    }

    /* Less columns for smaller devices. */
    div.skillrow {
        grid-template-columns: 1fr;
    }

    div.education {
        display: grid;
        grid-template-columns: 1fr;
    }

    #activities {
        grid-template-columns: 1fr 1fr;
    }

    #contact {
        grid-template-columns: 1fr;
    }


    /* Less padding for smaller devices. */
    div.education section.school {
        padding: 4vw 4vw;
    }

    main div {
        padding: 6vw 4vw;
    }

}

/* Small tablet styles. */
@media only screen and (max-width: 680px) {

    /* Even fewer columns. */
    div.skillrow {
        grid-template-columns: 1fr;
    }

    div.education {
        display: grid;
        grid-template-columns: 1fr;
    }

    #activities {
        grid-template-columns: 1fr;
    }

    #contact {
        grid-template-columns: 1fr;
    }


    div.education section.school {
        padding: 4vw 4vw;
    }

    /* Show menu span for mobile menu. */
    nav span#menu {
        display: block;
    }

    nav a {
        display: none;
    }

    nav span#menu {
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-decoration: none;
        font-size: calc(16px + .4vw);
        padding: 20px;
        text-align: center;
        transition: .1s;
    }

    nav span#menu:hover {
        background: rgb(255, 38, 0);
    }

    nav div.mobilenav {
        position: absolute;
        background: rgb(20, 20, 20);
        width: 100%;
    }

    nav div.mobilenav span#menu {
        font-size: 24px;
    }

    nav div.mobilenav span img {
        width: 18px;
    }

    nav div.mobilenav:hover a {
        display: block;
        font-size: 24px;
    }

    /* Larger image for client section. */
    #clientcanyon img {
        display: block;
        margin: 0 auto;
        width: 40%;
        padding: 20px
    }

}

/* Set fixed scrolling to scroll on iOS devices. */
@supports (-webkit-overflow-scrolling: touch) {

    section:nth-of-type(2),
    section:nth-of-type(4),
    aside.main h1,
    section#clientcanyon {
        background-attachment: scroll;
    }
}

@supports not (-webkit-overflow-scrolling: touch) {

    section:nth-of-type(2),
    section:nth-of-type(4),
    aside.main h1,
    section#clientcanyon {
        background-attachment: fixed;
    }
}