@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset Stylesheet */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom Styles */

/* Body background color. */
body {
    background-color: rgb(255, 38, 0);
}

/* Top banner with position of sticky. Top set to 0. Z-index of 1000 to place over all other elements. */
div.top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo banner with padding os 20px and dark grey background. */
div.logo {
    padding: 20px;
    background: rgb(7, 7, 7);
}

/* Logo image displayed as block with heigh of 60px and transition of .1s for jQuery scroll effect. */
div.logo img {
    display: block;
    transition: .1s;
    height: 60px;
}

/* H1 in uppercase with fonr styles. */
div.logo h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    transition: .2s;
}

/* Header displayed as grid. */
header {
    background: rgb(255, 38, 0);
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Header h1 font styles. */
header h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(32px + 3vw);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    transition: 1s;
}

/* Header hr styles */
header hr {
    width: 40%;
    margin: 10px auto;
    color: white;
    display: block;
    border: white 2px solid;
}

/* Header h4 font styles. */
header h4 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: calc(22px + 1vw);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Grid navigation */
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: rgb(20, 20, 20);
}

/* Mobile menu hidden on desktop. */
nav span#menu {
    display: none;
}

nav div.mobilenav a {
    display: none;
}

/* Nav link styles. */
nav a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: calc(16px + .4vw);
    padding: 20px;
    text-align: center;
    transition: .1s;
}

/* Nav link hover styles.  */
nav a:hover {
    background: rgb(255, 38, 0);
}

/* jqurey position for click to scroll, accounts for stikcy nav when scrolling to page section. */
div.linkjquerytrick {
    position: relative;
    top: -160px;
    float: left;
    height: 0;
}

/* Main set to grid of two columns. */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Main h1 font styles. */
main h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(22px + 1vw);
    padding-bottom: 40px;
}

/* Main p font styles. */
main p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: calc(16px + .6vw);
    line-height: calc(22px + 1vw);
}

/* Main div padding set. */
main div {
    padding: 4vw 2vw;
}

/* Main div background set to image. Size set to cover, centered in background. */
main div:nth-of-type(1) {
    background: url("micah.jpg");
    background-size: cover;
    background-position: center center;
}

/* Second div set to color background. */
main div:nth-of-type(2) {
    background: rgb(20, 20, 20);
}

/* Section background set. Height set to auto. Display as block. PAdding set to 6px on top and bottom. */
section {
    background: rgb(211, 211, 211);
    height: auto;
    display: block;
    padding: 6vw 0;
}

/* Section h1 font styles. */
section h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(20, 20, 20);
    font-size: calc(26px + 2.6vw);
    line-height: calc(30px + 3vw);
    width: 80%;
    margin: 0 auto 40px;
}

/* Section p font styles. */
section p {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(22px + 1vw);
}

/* Section h1 span. */
section h1 span {
    color: rgb(255, 38, 0);
    font-weight: bold;
}

/* Section hr styles. */
section hr {
    margin: 20px 0 0;
    width: 40%;
    display: block;
    border: rgb(255, 38, 0) 4px solid;
}

/* ID of spanskills set to color white and border bottom set to solid 8px orange border. */
#spanskills {
    color: white;
    border-bottom: rgb(255, 38, 0) 8px solid;
}

/* Skill rows. */
div.skillrow {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 4vw;
}

/* Bar background. */
div.bar {
    height: 40px;
    width: 100%;
    background: rgb(44, 44, 44);
    box-shadow: 0 0 6px black;
    margin-bottom: 20px;
}

/* Skill bars, Display as block. Height set to 40px. Background set to orange. Width set according to skill. */
/* HTML */
#barhtml {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

/* CSS */
#barcss {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

/* JavaScript */
#barjs {
    display: block;
    height: 40px;
    width: 30%;
    background: rgb(255, 38, 0);
}

/* jQuery */
#barjquery {
    display: block;
    height: 40px;
    width: 40%;
    background: rgb(255, 38, 0);
}

/* Bootstrap */
#barbootstrap {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

/* PHP */
#barphp {
    display: block;
    height: 40px;
    width: 20%;
    background: rgb(255, 38, 0);
}

/* Photoshop */
#barps {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

/* Illustrator */
#barai {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

/* Indesign */
#barind {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

/* Premiere Pro */
#barppro {
    display: block;
    height: 40px;
    width: 90%;
    background: rgb(255, 38, 0);
}

/* After Effects */
#barae {
    display: block;
    height: 40px;
    width: 80%;
    background: rgb(255, 38, 0);
}

/* Sections background attachment set to fixed. Size set to cover. */
section:nth-of-type(2),
section:nth-of-type(4) {
    background: url("skills.jpg");
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-size: cover;
}

/* Aside background and padding set. */
aside {
    background: rgb(34, 34, 34);
    padding: 2vw;
}

aside.main {
    padding: 0;
}

/* Aside h1 font and background styles. */
aside.main h1 {
    background: url("micahskills.jpg");
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-size: cover;
    filter: grayscale(100%);
    padding: 4vw 2vw 2vw;
    font-size: calc(26px + 2.6vw);
    line-height: calc(30px + 3vw);
}

/* Aside h1 styles. */
aside h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    font-size: calc(26px + 1.6vw);
    line-height: calc(30px + 2vw);
}

/* Aside a styles. */
aside a {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: calc(16px + 1.6vw);
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background: rgb(255, 38, 0);
    padding: 10px;
    width: 30%;
}

/* Aside link hover. */
aside a:hover {
    background: rgb(7, 7, 7);
}

/* Education grid. */
div.education {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ID of activities grid layout. */
#activities {
    grid-template-columns: 1fr 1fr 1fr;
}

/* ID of contact grid layout. */
#contact {
    grid-template-columns: 1fr 1fr 1fr;
}

/*  Section with class of school witin div with class of education padding set.  */
div.education section.school {
    padding: 2vw 2vw;
}

/* 1st of section with class of school witin div with class of education background set. */
div.education section.school:nth-of-type(1) {
    background: rgb(255, 38, 0);
}

/* 2nd of section with class of school witin div with class of education background set. */
div.education section.school:nth-of-type(2) {
    background: rgb(20, 20, 20);
}

/* Even sections with class of school witin div with class of education and id of activities background set. */
div.education#activities section.school:nth-of-type(even) {
    background: rgb(44, 44, 44);
}

/* Odd sections with class of school witin div with class of education and id of activities background set. */
div.education#activities section.school:nth-of-type(odd) {
    background: rgb(34, 34, 34);
}

/* Even sections with class of school witin div with class of education and id of contact background set. */
div.education#contact section.school:nth-of-type(even) {
    background: rgb(44, 44, 44);
}

/* Odd sections with class of school witin div with class of education and id of contact background set. */
div.education#contact section.school:nth-of-type(odd) {
    background: rgb(34, 34, 34);
}

/* Images in section.school within div.education#activities set to calculated width with a bottom margin of 20px. */
div.education#activities section.school img {
    width: calc(32px + 2vw);
    margin-bottom: 20px;
}

/* Images in section.school within div.education#contact set to calculated width with a bottom margin of 20px. */
div.education#contact section.school img {
    width: calc(32px + 2vw);
    margin-bottom: 20px;
}

/* H1 in section.school in div.education font styles defined. */
div.education section.school h1 {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: calc(22px + 1vw);
    line-height: calc(22px + 1vw);
    margin-bottom: 12px;
}

/* H4 in section.school in div.education font styles defined. */
div.education section.school h4 {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: calc(18px + .8vw);
}

/* P in section.school in div.education font styles defined. */
div.education section.school p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: calc(16px + .6vw);
    line-height: calc(22px + 1vw);
    margin-top: 20px;
}

/* Span in second section.school in div.education font color defined. */
div.education section.school:nth-of-type(2) span {
    color: rgb(255, 38, 0);
}

/* Span in first section.school in div.education font color defined. */
div.education section.school:nth-of-type(1) span {
    color: rgb(20, 20, 20);
}

/* Links in section in div.education have no text decoration. */
div.education section a {
    text-decoration: none;
}

/* Div credits layout and font styles. */
div.credits {
    background: rgb(20, 20, 20);
    padding: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(90, 90, 90);
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}

/* Div credit link styles. */
div.credits a {
    background: rgb(34, 34, 34);
    padding: 2px 12px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);
    transition: .1s;
}

/* Div credit hover styles. */
div.credits a:hover {
    background: rgb(44, 44, 44);
    text-decoration: none;
}

/* Form  */
form {
    margin: 0 auto;
    width: 80%;
    display: block;
}

section form h1 {
    color: white;
}

form input {
    width: 100%;
    background: rgb(20, 20, 20);
    border: none;
    font-size: calc(16px + .6vw);
    padding: 6px;
    border-bottom: 6px rgb(44, 44, 44) solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    transition: .3s;
}

form input.button {
    width: 50%;
}

form input:hover {
    border-bottom: 6px rgb(255, 38, 0) solid;
}

form textarea {
    resize: none;
    width: 100%;
    background: rgb(20, 20, 20);
    border: none;
    font-size: calc(16px + .6vw);
    padding: 6px;
    border-bottom: 6px rgb(44, 44, 44) solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    transition: .3s;
}

form textarea:hover {
    border-bottom: 6px rgb(255, 38, 0) solid;
}

#clientcanyon {
    padding: 6vw 0;
    background: url("Angle 1.png");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-position: center center;
}

#clientcanyon p {
    text-align: center;
}

#clientcanyon img {
    display: block;
    margin: 0 auto;
    width: 20%;
    padding: 20px
}

#clientcanyon a {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: white;
        font-size: calc(16px + 1.6vw);
        display: block;
        margin: 20px auto;
        text-decoration: none;
        background: rgb(255, 38, 0);
        padding: 10px;
        width: 30%;
}

#clientcanyon a:hover {
    background: rgb(7, 7, 7);
}

@media only screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    main div:first-of-type {
        height: 400px;
    }

    div.skillrow {
        grid-template-columns: 1fr;
    }

    div.education {
        display: grid;
        grid-template-columns: 1fr;
    }

    #activities {
        grid-template-columns: 1fr 1fr;
    }

    #contact {
        grid-template-columns: 1fr;
    }


    div.education section.school {
        padding: 4vw 4vw;
    }

    main div {
        padding: 6vw 4vw;
    }

}

@media only screen and (max-width: 680px) {
    main {
        grid-template-columns: 1fr;
    }

    main div:first-of-type {
        height: 400px;
    }

    div.skillrow {
        grid-template-columns: 1fr;
    }

    div.education {
        display: grid;
        grid-template-columns: 1fr;
    }

    #activities {
        grid-template-columns: 1fr;
    }

    #contact {
        grid-template-columns: 1fr;
    }


    div.education section.school {
        padding: 4vw 4vw;
    }

    nav span#menu {
        display: block;
    }

    nav a {
        display: none;
    }

    nav span#menu {
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-decoration: none;
        font-size: calc(16px + .4vw);
        padding: 20px;
        text-align: center;
        transition: .1s;
    }

    nav span#menu:hover {
        background: rgb(255, 38, 0);
    }

    nav div.mobilenav {
        position: absolute;
        background: rgb(20, 20, 20);
        width: 100%;
    }

    nav div.mobilenav span#menu {
        font-size: 24px;
    }

    nav div.mobilenav span img {
        width: 18px;
    }

    nav div.mobilenav:hover a {
        display: block;
        font-size: 24px;
    }

    #clientcanyon img {
        display: block;
        margin: 0 auto;
        width: 40%;
        padding: 20px
    }

}

@supports (-webkit-overflow-scrolling: touch) {
    section:nth-of-type(2),
    section:nth-of-type(4),
    aside.main h1 {
        background-attachment: scroll;
    }
  }
  
  @supports not (-webkit-overflow-scrolling: touch) {
    section:nth-of-type(2),
    section:nth-of-type(4),
    aside.main h1 {
        background-attachment: fixed;
    }
  }